<!--Cette page regroupe 2 pages HTML
    la première concerne la saisie des informations et la deuxième les contacts enregistrés  -->
<div class="jumbtron">
    <br/>
    <hr>
    <h1 class="display-4 text-center"> <img src="/assets/Address_Book.png" width="100">  GESTION D'UN CARNET D'ADRESSES </h1> <!-- Titre principal -->
    <br/>
    <div class="row">
        <div class="col-sm-6">
            <hr> 
            <h5 class="display-20 text-center"> AJOUTER  OU  MODIFIER  UN  CONTACT </h5><hr>
            <app-contact-detail></app-contact-detail> <!--Page HTML 1 -->
        </div>
        <div class="col-sm-6">
            <hr>
            <h5 class="display-20 text-center"> LISTE  DES  CONTACTS ENREGISTRÉS </h5><hr>
            <app-contact-detail-list></app-contact-detail-list> <!-- Page HTML 2 -->
        </div>
    </div>
</div>